<table class = "ui celled padded table">
  <thead>
    <tr>
      <th class="single line">
      <img class="ui avatar image" src="{{ post.author.avatar(70) }}" />
      <span>
          {% set user_link %}
            <span class="user_popup">
              <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
              </a>
            </span>
          {% endset %}
          {{ user_link }} said {{ moment(post.timestamp).fromNow() }}
          <br>
      </span>
    </th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <td>
     <span id="post{{ post.id }}">{{ post.body }}</span>
       <br><br>
     </span>
    </td>
    </tr>
  </tbody>
</table>
