<table class = "ui celled padded table">
  <thead>
    <tr>
      <th class="single line">
      <img class="ui avatar image" src="/images/wireframe/square-image.png">
      <span>
          {% set user_link %}
          <a href="{{ url_for('main.user', username=post.author.username) }}">
            {{ post.author.username }}
          </a>
          {% endset %}
          {{ '%(username)s said %(when)s',
          username=user_link, when=moment(post.timestamp).fromNow() }}
          <br>
          <span id="post{{ post.id }}">{{ post.body }}</span>
      </span>
    </th>
    </tr>
  </thead>

  <tbody>
    <tr>
    <td>
     <span id="post{{ post.id }}">{{ post.body }}</span>
       <br><br>
     </span>
    </td>
    </tr>
  </tbody>

</table>
