{% extends "base.html" %}

{% block app_content %}
<main class="ui container">

  <div class="ui items">
    <div class="item">

      <div class="image">
        <img src="{{ user.avatar(256) }}">
      </div>

      <div class="content">

        <a class="header">User: {{ user.username }}</a>

        <div class="meta">
          {% if user.last_seen %}
          <p><span>Last seen on: {{ moment(user.last_seen).format('LLL') }}</span></p>
          {% endif %}
          <p>
            <span>{{ user.followers.count() }} followers </span> 
            <span>{{ user.followed.count() }} following </span>
          </p>
        </div>

        <div class="description">
          {% if user.about_me %}
            <p>{{ user.about_me }}</p>
          {% endif %}
        </div>

        {% if user == current_user %}
          <p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
        {% elif not current_user.is_following(user) %}
          <p><a href="{{ url_for('main.follow', username=user.username) }}"> Follow</a></p>
        {% else %}
          <p><a href="{{ url_for('main.unfollow', username=user.username) }}">Unfollow</a></p>
        {% endif %}


      </div>
    </div>
  </div>

  {% for post in posts %}
      {% include 'main/_post.html' %}
  {% endfor %}

  {% include '/shared/_pagination.html' %}

</main>
{% endblock %}
