<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if title %}
      <title>{{ title }} - SimpleBlog</title>
    {% else %}
      <title>Welcome to SimpleBlog</title>
    {% endif %}
    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <link rel="stylesheet" href="http://localhost:8080/static/css/app.css">
    {% else %}
      <!-- Static Build Mode -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    {% endif %}

  </head>

  <body>
    {% block navbar %}
      {% include '/shared/_navbar.html' %}
    {% endblock %}

    {% block content %}
      <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
      </div>
    {% endblock %}

    {% include '/shared/_footer.html' %}

    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <script src='http://localhost:8080/static/js/app.bundle.js'></script>
    {% else %}
      <!-- Static Build Mode -->
      <script src='/static/js/app.bundle.js'></script>
    {% endif %}
    {% block js %}{% endblock %}

    {% block scripts %}
      {{ super() }}
      {{ moment.include_moment() }}
    {% endblock %}

  </body>
</html>
