<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    {% if title %}
      <title>{{ title }} - SimpleBlog</title>
    {% else %}
      <title>Welcome to SimpleBlog</title>
    {% endif %}
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
      <script src='https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js'></script>
      <link rel="icon" type="image/x-icon" href="favicon.ico">

    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <link rel="stylesheet" href="http://localhost:8080/static/css/app.css">
    {% else %}
      <!-- Static Build Mode -->
      <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/app.css') }}">
    {% endif %}

  </head>

  <body>
    {% block navbar %}
      {% include '/shared/_navbar.html' %}
    {% endblock %}

    {% block content %}
      <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <script>
              var messages = {{ messages | safe }};
              for (var i=0; i<messages.length; i++) {
                new Noty({
                  theme: 'semanticui',
                  type: 'info',
                  text: messages[i]
                }).setTimeout(2000).show();
              } 
            </script>
          {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}

      </div>
    {% endblock %}

    {% include '/shared/_footer.html' %}

    {% if config.DEVELOPMENT %}
      <!-- Webpack Dev Mode -->
      <script src='http://localhost:8080/static/js/app.bundle.js'></script>
    {% else %}
      <!-- Static Build Mode -->
      <script src='/static/js/app.bundle.js'></script>
    {% endif %}

    {% block scripts %}
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.js"></script>
    {{ moment.include_moment() }}
    <script>
      function set_message_count(n) {
        $('#message_count').data('badge',n);
        $('#message_count').css('visibility', n ? 'visible' : 'hidden');
      }
      {% if current_user.is_authenticated %}
      $(function() {
        var since = 0;
        setInterval(function() {
          $.ajax('{{ url_for('main.notifications') }}?since=' + since).done(
            function(notifications) {
              for (var i = 0; i < notifications.length; i++) {
                if (notifications[i].name == 'unread_message_count')
                  set_message_count(notifications[i].data);
                since = notifications[i].timestamp;
              }
            }
          );
        }, 10000);
      });
      {% endif %}
    </script>

    {% endblock %}
    {% block js %}{% endblock %}

  </body>
</html>
