{% extends "base.html" %}

{% block app_content %}
  <main class="ui text container">

    <h1 class="ui header">
      <div class="content">
        Send Message to
      </div>
    </h1>

    {% if form %}
      <form action="" method="post" class="ui form">
        <div class="ui segment">
          {{ form.hidden_tag() }}
            <div class="field">
              {{ form.message.label }}<br>
              {{ form.message }}
            </div>
          {{ form.submit(class="ui button") }}
          <div class="ui error message"></div>
        </div>
      </form>
    {% endif %}

    {% block js %}
    <script>
    $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;
    $('.ui.form')
      .form({
        fields: {
          post: ['minLength[4]', 'maxLength[140]' 'empty'],
        }
      })
    ;
    </script>
    {% endblock %}

  </main>
{% endblock %}
