  <div class="ui borderless main huge menu">
    <div class="ui text container">
      <a class="header item" href="{{ url_for('main.index') }}">
        <img class="logo" id="logo_sm">
        Simple Blog
      </a>
                {% if g.search_form %}
                <form class="navbar-form navbar-left" method="get" action="{{ url_for('main.search') }}">
                    <div class="form-group">
                        {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
                    </div>
                </form>
                {% endif %}

      <a href="{{ url_for('main.explore') }}" class="item">Explore</a>
      {% if current_user.is_anonymous %}
      <div class="ui right item">
        <a href="{{ url_for('account.login') }}" class="item">Login</a>
        <a href="{{ url_for('account.register') }}" class="item">Register</a>
      </div>
      {% else %}
        <a href="{{ url_for('main.messages') }}">Messages</a>
      <div class="ui right floated dropdown item">
        Hello {{ current_user.username }} <i class="dropdown icon"></i>
        <div class="menu">
          <a href="{{ url_for('main.user', username=current_user.username) }}"
            class="item">Profile</a>
          <div class="divider"></div>
          <a href="{{ url_for('account.logout') }}" class="item">Logout</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</nav>

