{% extends "base.html" %}

{% block app_content %}
<main class="ui text container">

  <h2 class="ui header">
    <div class="content">
      Register
    </div>
  </h2>

  <form action="" method="post" class="ui form">
    <div class="ui segment">
      {{ form.hidden_tag() }}
        <div class="field">
          {{ form.username.label }}
          {{ form.username }}
        </div>
        <div class="field">
          {{ form.email.label }}
          {{ form.email }}
        </div>
        <div class="field">
          {{ form.password.label }}
          {{ form.password }}
        </div>
        <div class="field">
          {{ form.confirm.label }}
          {{ form.confirm }}
        </div>
        {{ form.submit(class="ui fluid large submit button") }}
        {% if form.errors %}
          <div class="ui negative message">
            <i class="close icon"></i>
            {% for error in form.username.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            {% for error in form.email.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            {% for error in form.password.errors %}
              <li>{{ error }}</li>
            {% endfor %}
            {% for error in form.confirm.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </div>
        {% endif%}
        {% if not form.errors %}
          <div class="ui error message"></div>
        {% endif%}
    </div>
  </form>

  <div class="ui center aligned container">
    <div class="ui message">
      Already registered? <a href="{{ url_for('account.login') }}">Click to Login!</a>
    </div>
  </div>

</main>
{% endblock %}

{% block js %}
<script>
    $('.message .close')
      .on('click', function() {
        $(this)
          .closest('.message')
          .transition('fade')
        ;
      })
    ;
    $('.ui.form')
      .form({
        fields: {
          username : 'empty',
          email: ['email', 'empty'],
          password : ['minLength[6]', 'empty'],
          confirm: ['match[password]', 'empty'],
        }
      })
    ;
</script>
{% endblock %}

